@import "layout/base.scss";
$diagram-title-background-color:rgba(242, 242, 242, 1);
$left-img-background-color: #d7d7d7;
$right-one-background-color: white;
$background-color: white;
.title-container{
    background-color: rgba(242, 242, 242, 1); 
    text-align:left;
    line-height: 50px;
    font-size:15px;
    margin-bottom:0px;
    .title{
        text-align:left;
        margin-left:20px;
    }
    .export{
        position: absolute;
        right: 10%;
        width:70px;
        font-size:14px;
        font-family: '微软雅黑 Regular', '微软雅黑';
        text-align:center;
        line-height: 25px;
        margin-top:12px;
        border: 1px solid #CCCCCC;
    }
}


// .svg{
//     font-size:130px;
//     color: red;
// }

.SystemDIV{
    width:93%;
    margin:0px auto 10px;
    text-align:center;
    vertical-align: middle;
    background-color: rgba(242, 242, 242, 0.4);
}
.TitleDIV{
    width:94%;
    margin-left:auto;margin-right:auto;
    /*text-align:center;*/
    vertical-align: middle;
}
.menu-circle{
    display:inline-block;
    border:1px solid $left-img-background-color;
    border-radius:50%;
    width: 8px;
    height: 8px;
    background: white;
    // margin-left: 40px;
}
.menu-container{
    background-color:white;
    .menu{
        span{
            font-size:15px;
            margin-left:20px;
            line-height: 40px;
        }
    }
}
.MenuLOne{
    margin-left:20px;
    margin-top:15px;
    margin-bottom:10px;
    /*font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';*/
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    
}
.MenuLOne > p .menu-circle{
        background-color: $left-img-background-color;
    }
.MenuLTwo{
    margin-left:20px;
    margin-bottom:5px;
    /*font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';*/
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    p{
        margin: 5px 0px;
    }
    
}
.MenuLThree{
    margin-left:30px;
    margin-bottom:5px;
    font-family: '微软雅黑';
    font-weight: 100;
    font-style: normal;
    font-size: 10px;
    color: #5A7FB5;
    span{
            cursor: pointer;
    }
    span:hover{
            text-decoration-line: underline;
    }
}
.MenuLThree input,span{
        vertical-align: middle;
}
.img{
    vertical-align: middle;
}


.DiagramTitleOne{
    background-color: $diagram-title-background-color; 
    text-align:left;
    line-height: 50px;
    font-size:15px;
    border: 1px solid $left-img-background-color;;
    .left-img-one{
        display:inline-block;
        width: 3px;
        height: 30px;
        background-color: $right-one-background-color;
        margin-left: 20px;
    }
}
.DiagramTitleTwo{
    background-color:white; 
    text-align:left;
    line-height: 50px;
    font-size:15px;
    border-top: 1px solid $left-img-background-color;;
    border-left:none;
    border-right:none;
    .left-img-two{
        display:inline-block;
        width: 3px;
        height: 30px;
        background-color: $left-img-background-color;
        margin-left: 40px;
    }
}

.DiagramTitleTwo span{
    text-align:left;
}
.DiagramTitleTwo img{
    margin-left:20px;
}

.DiagramTitleThree{
    background-color:white; 
    text-align:left;
    line-height: 50px;
    font-size:15px;
    border-top: 1px solid $left-img-background-color;
    border-left:none;
    border-right:none;
}
.DiagramTitleOne_arrow{
    background-color: $left-img-background-color; 
    width:25px;
    height:25px;
    // display: inline-block;
    margin-top:12px;
    margin-right:20px;
    vertical-align: middle;
    float: right;
    text-align: center;
    line-height: 25px;
    .right-img-one{
        display:inline-block;
        width: 0px;
        height: 0px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 10px solid $right-one-background-color;
    }
}
.DiagramTitleThree_arrow{
    width:30px;
    height:30px;
    margin-top:10px;
    margin-right:20px;
    vertical-align: middle;
    float: right;
    text-align: center;
    line-height: 25px;
}

@keyframes arrowRotateDown
{
  from {transform:rotate(0deg);}
  to {transform:rotate(180deg);}
}

@-webkit-keyframes arrowRotateDown {
    0% {
      transform:rotate(0deg);
    }
    100% {
      transform:rotate(180deg);
    }
}
@keyframes arrowRotateUp
{
  from {transform:rotate(180deg);}
  to {transform:rotate(0deg);}
}

@-webkit-keyframes arrowRotateUp {
    0% {
      transform:rotate(180deg);
    }
    100% {
      transform:rotate(0deg);
    }
}

.DiagramTitleThree_img{
    background-color:rgba(242, 242, 242, 1); 
    text-align:left;
    line-height: 50px;
    margin: 10px;
    position:relative;

    .left-img-three{
        display:inline-block;
        border:10px;
        border-radius:50%;
        width: 10px;
        height: 10px;
        background: $left-img-background-color;
        margin-left: 40px;
    }
    .right-img-three{
        display:inline-block;
        width: 0px;
        height: 0px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 10px solid $left-img-background-color;
        position: absolute;
        right: 20px;
        top: 40%;

    }
}
.DiagramBigDiv{
    /*width: 100%;*/
    height: 500px;
    background-color:white; 
    overflow: hidden;
    max-height: 0;
    position:relative;

    .spanExportButton{
        position:absolute;
        text-align:left; 
        display:block;
        top:38px;
        left:55%; 
        font-family: 'Arial Normal', 'Arial';
        font-weight: 400;
        font-style: normal;
        font-size: 10px;
        z-index:99999;
        color: gray;
        cursor:pointer; 
    }

/*                display:table-cell;
    vertical-align:middle;*/
    /*text-align: center;*/
}
.DiagramAreaDiv1{
    width: 60%;height: 500px;
    box-sizing:border-box;
    /*background-color:green;                  */
    float: left;
    padding: 10px;    
}
.diagramTable{
    border-collapse:collapse; 
    tr td{
        border-bottom: 1px solid #CCCCCC;  
        border-top: 1px solid #CCCCCC;        
        color:blue;
        font-size:14px;
        text-align: center;
    }
}
.DiagramAreaDiv2{
    width:40%;
    height: 500px;
    box-sizing:border-box;
    /*background-color:blue;                */
    
    float: left;
    padding: 10px 10px 10px 10px;
}
.table-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 0px 0px 0px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}
.table-input label{
    vertical-align: middle;
}
.input-date{
    border:1px solid rgba(215, 215, 215, 1);
    height: 30px;
    // margin:0px 10px;
    vertical-align: middle;
    width: 120px
}
.input-btn{
    border:1px solid rgba(215, 215, 215, 1);
    height: 30px;
    padding: 0px 10px;
    vertical-align: middle;
}
.table-container{
    margin-top: 20px;
    text-align: center;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}
.table-container {
    table{
        margin:auto;
        border-collapse: collapse;
    }
    table tr{
        border: 1px solid rgba(215, 215, 215, 1);
        // border-collapse: collapse;
        text-align: center;
    }
    table tr td{
        border: 1px solid rgba(215, 215, 215, 1);
        // border-collapse: collapse;
        text-align: center;
    }
    
}


.edit-label{
    text-align: left;margin-bottom: 10px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
}
.edit-textarea{
    text-align: left; 
    // textarea{  //为什么写在里面顶用
    //     width: 400px;height: 200px;color: rgb(153, 153, 153);
    // }   
}
.edit-textarea textarea{  //为什么写在里面顶用
    width: 500px; height:200px;color: rgb(153, 153, 153);
}
.edit-btn{
    text-align: left;
}

.horizon-line{
    height: 0px;
    border: 1px solid $diagram-title-background-color;
    margin: 5px 0px 5px -20px;

}

#create-comment-container{
    display: none;
    .comment-box{
        .title{
            border-bottom:1px solid $left-img-background-color; 
            padding: 10px;
            height: 15%;
        }
        .input{
            padding: 10px 30px;
            height: 70%;
            textarea{
                border-radius: 10px; 
                width: 100%;
                height: 80%;
                border:1px solid $left-img-background-color;
            }
        }
        .button{
            text-align: right;
            position: absolute;
            bottom: 0px;
            right: 0px;
            padding: 10px 30px 10px 10px;
            width: 100%;
            border-top:1px solid $left-img-background-color;
            height: 15%;

            button{
                padding: 0px 10px;
            }
            .confirm{
                color: white;
                background-color: $left-img-background-color;
            }
        }

    }
}

.comment-overlay-shadow {
    position: fixed;
    z-index: 1;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    background: rgba(0,0,0,.7);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.comment-box {
    position: fixed;
    z-index: 60;
    font-size: 15px;
    opacity: 1;
    height: 50%;
    bottom: 25%;
    width: 50%;
    left: 25%;
    background: $background-color;
    overflow: visible;
}