@import "layout/base.scss";
$diagram-title-background-color:rgba(242, 242, 242, 1);
$left-img-background-color: #d7d7d7;
$right-one-background-color: white;
$background-color: white;
.returnToTop{
    position: fixed;
    z-index: 100000;
    bottom: 10%;
    right: 10%;
    border: 1px solid $left-img-background-color;
    font-size: 10px;
    div{
        text-align: center;
    }
    img{
        width: 40px;
    }
       
}
.title-container{
    background-color: rgba(242, 242, 242, 1); 
    text-align:left;
    line-height: 50px;
    font-size:15px;
    margin-bottom:0px;
    .title{
        text-align:left;
        margin-left:20px;
    }
    .export{
        position: absolute;
        right: 10%;
        width:70px;
        font-size:14px;
        font-family: '微软雅黑 Regular', '微软雅黑';
        text-align:center;
        line-height: 25px;
        margin-top:12px;
        border: 1px solid #CCCCCC;
    }
}


// .svg{
//     font-size:130px;
//     color: red;
// }

.SystemDIV{
    width:93%;
    margin:0px auto 10px;
    text-align:center;
    vertical-align: middle;
    background-color: rgba(242, 242, 242, 0.4);
}
.TitleDIV{
    width:94%;
    margin-left:auto;margin-right:auto;
    /*text-align:center;*/
    vertical-align: middle;
}
.menu-circle{
    display:inline-block;
    border:1px solid $left-img-background-color;
    border-radius:50%;
    width: 8px;
    height: 8px;
    background: white;
    // margin-left: 40px;
}
.menu-container{
    background-color:white;
    .menu{
        span{
            font-size:15px;
            margin-left:20px;
            line-height: 40px;
        }
    }
}
.MenuLOne{
    margin-left:20px;
    margin-top:15px;
    margin-bottom:10px;
    /*font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';*/
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    
}
.MenuLOne > p .menu-circle{
        background-color: $left-img-background-color;
    }
.MenuLTwo{
    margin-left:20px;
    margin-bottom:5px;
    /*font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';*/
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    p{
        margin: 5px 0px;
    }
    
}
.MenuLThree{
    margin-left:30px;
    margin-bottom:5px;
    font-family: '微软雅黑';
    font-weight: 100;
    font-style: normal;
    font-size: 10px;
    color: #5A7FB5;
    span{
            cursor: pointer;
    }
    span:hover{
            text-decoration-line: underline;
    }
}
.MenuLThree input,span{
        vertical-align: middle;
}
.img{
    vertical-align: middle;
}


.DiagramTitleOne{
    background-color: $diagram-title-background-color; 
    text-align:left;
    line-height: 50px;
    font-size:15px;
    border: 1px solid $left-img-background-color;;
    .left-img-one{
        display:inline-block;
        width: 3px;
        height: 30px;
        background-color: $right-one-background-color;
        margin-left: 20px;
    }
}
.DiagramTitleTwo{
    background-color:white; 
    text-align:left;
    line-height: 50px;
    font-size:15px;
    border-top: 1px solid $left-img-background-color;;
    border-left:none;
    border-right:none;
    .left-img-two{
        display:inline-block;
        width: 3px;
        height: 30px;
        background-color: $left-img-background-color;
        margin-left: 40px;
    }
}

.DiagramTitleTwo span{
    text-align:left;
}
.DiagramTitleTwo img{
    margin-left:20px;
}

.DiagramTitleThree{
    background-color:white; 
    text-align:left;
    line-height: 50px;
    font-size:15px;
    border-top: 1px solid $left-img-background-color;
    border-left:none;
    border-right:none;
}
.DiagramTitleOne_arrow{
    background-color: $left-img-background-color; 
    width:25px;
    height:25px;
    // display: inline-block;
    margin-top:12px;
    margin-right:20px;
    vertical-align: middle;
    float: right;
    text-align: center;
    line-height: 25px;
    .right-img-one{
        display:inline-block;
        width: 0px;
        height: 0px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 10px solid $right-one-background-color;
    }
}
.DiagramTitleThree_arrow{
    width:30px;
    height:30px;
    margin-top:10px;
    margin-right:20px;
    vertical-align: middle;
    float: right;
    text-align: center;
    line-height: 25px;
}

@keyframes arrowRotateDown
{
  from {transform:rotate(0deg);}
  to {transform:rotate(180deg);}
}

@-webkit-keyframes arrowRotateDown {
    0% {
      transform:rotate(0deg);
    }
    100% {
      transform:rotate(180deg);
    }
}
@keyframes arrowRotateUp
{
  from {transform:rotate(180deg);}
  to {transform:rotate(0deg);}
}

@-webkit-keyframes arrowRotateUp {
    0% {
      transform:rotate(180deg);
    }
    100% {
      transform:rotate(0deg);
    }
}

.DiagramTitleThree_img{
    background-color:rgba(242, 242, 242, 1); 
    text-align:left;
    line-height: 50px;
    margin: 10px;
    position:relative;

    .left-img-three{
        display:inline-block;
        border:10px;
        border-radius:50%;
        width: 10px;
        height: 10px;
        background: $left-img-background-color;
        margin-left: 40px;
    }
    .right-img-three{
        display:inline-block;
        width: 0px;
        height: 0px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 10px solid $left-img-background-color;
        position: absolute;
        right: 20px;
        top: 40%;

    }
}
.DiagramBigDiv{
    /*width: 100%;*/
    height: 550px;
    background-color:white; 
    overflow: hidden;
    max-height: 0;
    position:relative;

    .spanExportButton{
        position:absolute;
        // position:relative;
        display:inline-block;
        top:58px;
        left:55%; 
        // left:-35px; 
        font-family: 'Arial Normal', 'Arial';
        font-weight: 400;
        font-style: normal;
        font-size: 10px;
        z-index:10;
        color: gray;
        cursor:pointer; 
        width:18px;
        height: 18px;
        background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 471.2 471.2" style="enable-background:new 0 0 471.2 471.2;" xml:space="preserve"><g><g><path d="M457.7,230.15c-7.5,0-13.5,6-13.5,13.5v122.8c0,33.4-27.2,60.5-60.5,60.5H87.5c-33.4,0-60.5-27.2-60.5-60.5v-124.8 c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v124.8c0,48.3,39.3,87.5,87.5,87.5h296.2c48.3,0,87.5-39.3,87.5-87.5v-122.8 C471.2,236.25,465.2,230.15,457.7,230.15z"/><path d="M226.1,346.75c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l85.8-85.8c5.3-5.3,5.3-13.8,0-19.1c-5.3-5.3-13.8-5.3-19.1,0l-62.7,62.8 V30.75c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v273.9l-62.8-62.8c-5.3-5.3-13.8-5.3-19.1,0c-5.3,5.3-5.3,13.8,0,19.1 L226.1,346.75z"/></g></g></svg>
')
    }
    .selectDataArea{
        position: absolute;
        z-index: 1;
        left:40px;
        top: 10px;
        span{
            margin: 0px 10px;
        }
        select{
            height: 25px;
            width: 100px;
        }
    }
    #showDiagram4,#showDiagram5,#showDiagram6,#showDiagram7,#showDiagram8,#showDiagram9,#showDiagram12,#showDiagram13,#showDiagram16,#showDiagram17{
        margin-top: 30px;
    }
    #showDiagram12{
        overflow-y: scroll;
    }
    
}

#diagramDiv2{
    .spanExportButton{top:58px; left:53%;}
}
#diagramDiv3{
    .spanExportButton{top:58px;left:53%;}
}
#diagramDiv4{
    .spanExportButton{top:88px;left:52%;}
}
#diagramDiv5{
    .spanExportButton{top:25px;left:53%;}
}
#diagramDiv6{
    .spanExportButton{top:88px;left:53%;}
}
#diagramDiv7{
    height:750px;
    .spanExportButton{top:88px;left:56%;}
    #showDiagram7Small{
        height: 200px;
        width: 500px;
    }
    #showDiagram7{
         height: 450px;
    }
}
#diagramDiv8{
    .spanExportButton{top:78px;left:56%;}
}
#diagramDiv9{
    .spanExportButton{top:88px;left:54%;}
}
#diagramDiv12{
    .spanExportButton{top:12px;left:55%;}
}
#diagramDiv13{
    .spanExportButton{top:89px;left:53%;}
}
#diagramDiv15{
    .spanExportButton{top:0px;left:56%;}
}
#diagramDiv16{
    .spanExportButton{top:65px;left:56%;}
}
#diagramDiv17{
    .spanExportButton{top:89px;left:56%;}
}



.DiagramAreaDiv1{
    width: 60%;
    height: 500px;
    box-sizing:border-box;
    /*background-color:green;                  */
    float: left;
    padding: 10px;    
}
.showDiagramLeft{
    float: left;
    width: 50%;
    height: 450px;
}
.showDiagramRight{
    float: right;
    width: 50%;
    height: 450px;
}
.diagramTable{
    margin:15px 0px 0px 30px ;
    border-collapse:collapse; 
    tr td{
        border-bottom: 1px solid #CCCCCC;  
        border-top: 1px solid #CCCCCC;        
        color:black;
        font-size:14px;
        text-align: center;
    }
}
.DiagramAreaDiv2{
    width:40%;
    height: 500px;
    box-sizing:border-box;
    /*background-color:blue;                */
    
    float: left;
    padding: 10px 10px 10px 10px;
    .table-title{
      
        font-size: 15px;
    }
}
.table-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 0px 0px 0px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    label{
        vertical-align: middle;
    }
}

.input-date{
    border:1px solid rgba(215, 215, 215, 1);
    height: 30px;
    vertical-align: middle;
    width: 120px;
}
.input-btn{
    border:1px solid rgba(215, 215, 215, 1);
    height: 30px;
    padding: 0px 10px;
    vertical-align: middle;
}

.table-container {
    padding-bottom: 30px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    height: 100%;
    overflow-y: scroll;
    table{
        // margin:auto;
        width: 100%;
        border-collapse: collapse;
        overflow: scroll;
        table-layout: fixed;
    }
    table tr{
        border: 1px solid rgba(215, 215, 215, 1);
        // border-collapse: collapse;
        text-align: center;
        height: 25px;
    }
    tr th{
        background-color: rgba(242, 242, 242, 1);
    }
    table tr td,tr th{
        border: 1px solid rgba(215, 215, 215, 1);
        // border-collapse: collapse;
        text-align: center;
        
    }
  
    
    table tr td:first-child,table tr th:first-child{
        width:100px;
    }

    table tr td:nth-child(2), table tr th:nth-child(2) {
        // color:red;
        // width:350px;
        text-overflow: ellipsis;
         white-space: nowrap;
        overflow: hidden; 
    }
  
    table tr td:nth-child(3),table tr th:nth-child(3) {
        width:100px;
    }
    td{
        
    }
    td:nth-child(2):hover{
        white-space: inherit;
        text-overflow: inherit;
        overflow: inherit;
    }

}



.edit-label{
    text-align: left;margin-bottom: 10px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
}
.edit-textarea{
    text-align: left; 
    // textarea{  //为什么写在里面顶用
    //     width: 400px;height: 200px;color: rgb(153, 153, 153);
    // }   
}
.edit-textarea textarea{  //为什么写在里面顶用
    width: 500px; height:200px;color: rgb(153, 153, 153);
}
.edit-btn{
    text-align: left;
}

.horizon-line{
    height: 0px;
    border: 1px solid $diagram-title-background-color;
    margin: 5px 0px 5px -20px;

}

.create-comment-container{
    display: none;
    z-index: 1000;
    div{
       z-index: 1000; 
    }
    .comment-box{
        .title{
            border-bottom:1px solid $left-img-background-color; 
            padding: 10px;
            height: 15%;
        }
        h3{
            display: flex;
            justify-content: space-between;
        }
        .input{
            padding: 10px 30px;
            height: 70%;
            textarea{
                border-radius: 10px; 
                width: 100%;
                height: 80%;
                border:1px solid $left-img-background-color;
            }
        }
        .button{
            text-align: right;
            position: absolute;
            bottom: 0px;
            right: 0px;
            padding: 10px 30px 10px 10px;
            width: 100%;
            border-top:1px solid $left-img-background-color;
            height: 15%;

            button{
                padding: 0px 10px;
            }
            // .confirm{
            //     color: white;
            //     background-color: $left-img-background-color;
            // }
        }

    }
}

.comment-overlay-shadow {
    position: fixed;
    
    opacity: 1;
    transition: opacity .3s ease-in-out;
    background: rgba(0,0,0,.7);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.comment-box {
    position: fixed;
    // z-index: 60;
    font-size: 15px;
    opacity: 1;
    height: 50%;
    bottom: 25%;
    width: 50%;
    left: 25%;
    background: $background-color;
    overflow: visible;
}