        <div class="create-comment-container">
            <div class="comment-overlay-shadow" id="comment-overlay-shadow">
            </div>

            <div class="comment-box">  
                <div class="title">
                    <h3><span>新建点评</span><span><label>x</label><label>x</label></span></h3> 
                </div>
                <div class="input">
                    <h5>点评备注：</h5>
                    <textarea placeholder="点评输入备注内容..." class="comment-word"></textarea>
                </div>
                <div class="button">
                    <button  class="comment-page-btn cancel comment-cancel">取消</button>
                    <button  class="comment-page-btn confirm comment-confirm">确定</button>
                </div>
            </div>
        </div>