<!-- 目录div -->
            <div  class="menu-container">

                <div  class="menu">      
                    <p><span>目录：</span></p>
                </div>

                
                <div class="MenuLOne">                   
                    <p>
                    <span class="menu-circle"></span>
                    <input  class="menuOneCheck" type="checkbox" value="checkbox"/>
                    <span>A.大势判断</span>
                    </p>
                    <div class="MenuLTwo ">
                        <p>
                        <span class="menu-circle"></span>
                        <input class="menuTwoCheck" type="checkbox" value="checkbox"/>
                        <span>A.1.短期_资金类指标</span>
                        </p>
                        <div class="MenuLThree ">
                            <input id="menuThreeCheck1" type="checkbox" value="checkbox1"/>
                            <span  id="menuThreeSelected1">A.1.1.博弈/存量指标</span>
                        </div>
                        <div class="MenuLThree " >
                            <input id="menuThreeCheck2" type="checkbox" value="checkbox1"/>
                            <span id="menuThreeSelected2">A.1.2.融资买入/可用担保价值</span>
                        </div>
                    </div> <!-- class="MenuLTwo " -->
                     <!-- Unnamed (水平线) -->
                    <div  class="horizon-line"></div>
                    <div  class="MenuLTwo">
                        <p>
                        <span class="menu-circle"></span>
                        
                        <input class="menuTwoCheck" type="checkbox" value="checkbox"/>
                        <span>A.2.短期_情绪类指标</span>
                        </p>
                        <div  class="MenuLThree " >
                            <input id="menuThreeCheck3" type="checkbox" value="checkbox"/>
                            <span id="menuThreeSelected3">A.2.1.综合性情绪指标</span>
                        </div>
                        <div  class="MenuLThree " >
                            <input id="menuThreeCheck4" type="checkbox" value="checkbox"/>
                            <span id="menuThreeSelected4">A.2.2.指定板块的强势股占比</span>
                            
                        </div>
                        <div  class="MenuLThree " >   
                            <input id="menuThreeCheck5" type="checkbox" value="checkbox"/>
                            <span id="menuThreeSelected5">A.2.3.分级基金成交显示的风险偏好</span>                
                        </div>
                        <div  class="MenuLThree " >      
                            <input id="menuThreeCheck6" type="checkbox" value="checkbox"/>
                            <span id="menuThreeSelected6">A.2.4.指定板块的历史换手率</span>      
                        </div>
                    </div><!-- class="MenuLTwo " -->
                    <div  class="horizon-line"></div>
                    <div  class="MenuLTwo ">
                        <p>
                        <span class="menu-circle"></span>
                        <input class="menuTwoCheck" type="checkbox" value="checkbox"/>
                        <span>A.3.长期_个股的估值分布</span>
                        </p>
                        <div  class="MenuLThree " id="menuThreeSelected7">
                        
                            <input id="menuThreeCheck7" type="checkbox" value="checkbox"/>
                            <span>A.3.1.指定板块的个股估值分布</span>
                            
                        </div>
                        <div  class="MenuLThree " id="menuThreeSelected8">
                            
                            <input id="menuThreeCheck8" type="checkbox" value="checkbox"/>
                            <span>A.3.2.个股估值分布的重要时点比较</span>
                            
                        </div>
                    </div><!-- class="MenuLTwo " -->
                </div>

                
                <!-- Unnamed (水平线) -->
                






                 <div class="MenuLOne">                   
                    <p>
                        <span class="menu-circle"></span>
                        <input class="menuOneCheck" type="checkbox" value="checkbox"/>
                        <span>B.风格/行业选择</span>
                    </p> 
                    <div  class="MenuLTwo ">
                        <p>
                        <span class="menu-circle"></span>
                        <input class="menuTwoCheck" type="checkbox" value="checkbox"/>
                        <span>B.1.短期_风格活跃度观察</span>
                        </p>
                        <div  class="MenuLThree " id="menuThreeSelected9">
                        <input id="menuThreeCheck9" type="checkbox" value="checkbox"/>
                        <span>B.1.1.指定板块相对换手率的历史变化</span>
                        
                        </div>
                    </div> 
                    <!-- Unnamed (水平线) -->
                    <div  class="horizon-line"></div>
                    <div  class="MenuLTwo ">
                        <p>
                        <span class="menu-circle"></span>
                        <input class="menuTwoCheck" type="checkbox" value="checkbox"/>
                        <span>B.2.短期_换手率观察</span>
                        </p>
                        <div  class="MenuLThree " id="menuThreeSelected10">
                        
                            <input id="menuThreeCheck10" type="checkbox" value="checkbox"/>
                            <span>B.2.1.本周换手率变化最大的基准/板块</span>
                            
                        </div>
                        <div  class="MenuLThree " id="menuThreeSelected11">
                            
                            <input id="menuThreeCheck11" type="checkbox" value="checkbox"/>
                            <span>B.2.2.本周换手率绝对水平最高的基准/板块</span>
                            
                        </div>
                        <div  class="MenuLThree " id="menuThreeSelected12">
                            
                            <input id="menuThreeCheck12" type="checkbox" value="checkbox"/>
                            <span>B.2.3.基准/板块的周换手率</span>
                            
                        </div>
                        <div  class="MenuLThree " id="menuThreeSelected13">
                            
                            <input id="menuThreeCheck13" type="checkbox" value="checkbox"/>
                            <span>B.2.4.指定板块周换手率的历史变化</span>
                            
                        </div>
                        
                    </div>
                    

                    <!-- Unnamed (水平线) -->
                    <div  class="horizon-line"></div> 
                    <div  class="MenuLTwo ">
                        <p>
                            <span class="menu-circle"></span>
                            <input class="menuTwoCheck" type="checkbox" value="checkbox"/>
                            <span>B.3.短期_行业循环模型</span>
                        </p>
                        <div  class="MenuLThree " id="menuThreeSelected14">
                            <input id="menuThreeCheck14" type="checkbox" value="checkbox"/>
                            <span>B.3.1.本周新增“速度/加速度”加强/衰竭的行业</span>
                        </div>
                        <div  class="MenuLThree " id="menuThreeSelected15">
                            <input id="menuThreeCheck15" type="checkbox" value="checkbox"/>
                            <span>B.3.2.所有行业“速度/加速度”的最新分布</span>
                        </div>
                        <div  class="MenuLThree " id="menuThreeSelected16">
                            <input id="menuThreeCheck16" type="checkbox" value="checkbox"/>
                            <span>B.3.3.指定行业“速度/加速度”的历史变化路径</span>
                        </div>
                    </div>
                    <!-- Unnamed (水平线) -->
                    <div  class="horizon-line"></div>

                    <div  class="MenuLTwo ">
                        <p>
                            <span class="menu-circle"></span>
                            <input class="menuTwoCheck" type="checkbox" value="checkbox"/>
                            <span>B.4.中期_HP滤波后的行业估值</span>
                        </p>
                        <div  class="MenuLThree " id="menuThreeSelected17">      
                            <input id="menuThreeCheck17" type="checkbox" value="checkbox"/>
                            <span>B.4.1中期_HP滤波后的行业估值</span>
                        </div>
                    </div> <!-- class="MenuLTwo " -->                
                </div>

            </div><!-- 目录div -->