                            <div>
                                <div class="table-input">
                                    <label>开始：</label><input type="date" name="11"  class="input-date start-date" />
                                    <label>结束：</label><input type="date" name="22"  class="input-date end-date"/>
                                    <input type="button" name="查询" value="查询" class="input-btn comment-inquery"/>
                                    <input type="button" name="" value="点评" class="input-btn create-comment-btn"/>  
                                </div>
                            </div>
                            <div class="table-container">
                                <table>
                                    <tr>
                                        <th>日期</th>
                                        <th>点评</th>
                                        <th>点评人</th>
                                    </tr>
                                    <tr>
                                        <td>2018/07/03</td><td>当天点评内容当天点评内容当天点评内容当天点评内容当天点评内容111</td><td>张小毛</td>
                                    </tr>
                                    <tr>
                                        <td>2018/07/03</td><td>当天点评内容当天点评内容当天点评内容当天点评内容当天点评内容</td><td>张小毛</td>
                                    </tr>
                                    <tr>
                                        <td>2018/07/03</td><td>当天点评内容当天点评内容当天点评内容当天点评内容当天点评内容</td><td>张小毛</td>
                                    </tr>
                                    <tr>
                                        <td>2018/07/03</td><td>当天点评内容当天点评内容当天点评内容当天点评内容当天点评内容</td><td>张小毛</td>
                                    </tr>                            

                                </table>
                            </div>