<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wave.sysmanage.dao.SFunctionManageMapper" >
  <resultMap id="BaseResultMap" type="com.wave.sysmanage.vo.SFunctionInfoVo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PID" property="pid" jdbcType="VARCHAR" />
    <result column="FUNCTION_NAME" property="functionName" jdbcType="VARCHAR" />
    <result column="FUNCTION_TYPE" property="functionType" jdbcType="VARCHAR" />
    <result column="SORT" property="sort" jdbcType="DECIMAL" />
    <result column="MAP_ID" property="mapId" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="IS_SHOW" property="isShow" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PID, FUNCTION_NAME, FUNCTION_TYPE, SORT, MAP_ID, REMARK, IS_SHOW
  </sql>
  

  
  <insert id="insertSelective" parameterType="com.wave.sysmanage.vo.SFunctionInfoVo" >
    insert into S_FUNCTION_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="pid != null" >
        PID,
      </if>
      <if test="functionName != null" >
        FUNCTION_NAME,
      </if>
      <if test="functionType != null" >
        FUNCTION_TYPE,
      </if>
      <if test="sort != null" >
        SORT,
      </if>
      <if test="mapId != null" >
        MAP_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="isShow != null" >
        IS_SHOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="functionName != null" >
        #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="functionType != null" >
        #{functionType,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="mapId != null" >
        #{mapId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="selectFunctionByTypeAndPid" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" /> 
    from S_FUNCTION_INFO 
    where function_type= #{functionType,jdbcType=VARCHAR}
    <if test="pid != null and pid != 0" >
        and PID = #{pid,jdbcType=VARCHAR}
    </if>
    order by SORT asc
  </select>
<select id="selectByExport" resultMap="BaseResultMap">
  select 
 <include refid="Base_Column_List" /> 
 from S_FUNCTION_INFO
</select>
 
<!-- 数据同步 -->
   <select id="insertByImport"  >
insert into S_FUNCTION_INFO (ID, PID, FUNCTION_NAME, 
FUNCTION_TYPE, SORT, MAP_ID, 
REMARK, IS_SHOW)
<if test="isNetRelease == 'no'">
VALUES 
<foreach collection="sFunctisonInfoVoList" item="vo" index="index" separator="," >  
(
'${vo.id}', '${vo.pid}', '${vo.functionName}', 
'${vo.functionType}', '${vo.sort}', '${vo.mapId}', 
'${vo.remark}', '${vo.isShow}'
)
</foreach>  
 </if>
   <if test="isNetRelease == 'yes'">
  <foreach collection="sFunctisonInfoVoList" item="vo" index="index" separator=" union all " >  
  SELECT 
#{vo.id,jdbcType=VARCHAR}, #{vo.pid,jdbcType=VARCHAR}, #{vo.functionName,jdbcType=VARCHAR}, 
#{vo.functionType,jdbcType=VARCHAR}, #{vo.sort,jdbcType=DECIMAL}, #{vo.mapId,jdbcType=VARCHAR}, 
#{vo.remark,jdbcType=VARCHAR}, #{vo.isShow,jdbcType=DECIMAL}
FROM DUAL 
</foreach>  
 </if>
</select>
<delete id="deleteByImport">
delete from S_FUNCTION_INFO  WHERE ID IN 
<foreach collection="sFunctisonInfoVoList" item="vo" index="index" open="(" separator="," close=")">  
'${vo.id}'  
</foreach> 
</delete>
</mapper>